
<div class="row columns">
  <h1 class="large-6 large-centered columns">Need to start an alert?</h1>
  <div class="large-6 large-centered columns">
    <% if user_signed_in? %>
      <div class="large expanded button">
        <%= link_to 'Create a Meow Alert', "/animals/new?species=Cat" %>
      </div>
      <div class="large expanded button">
        <%= link_to 'Create a Woof Alert', "/animals/new?species=Dog" %>
      </div>
    <% else %>
      <div class="large button">
        <%= link_to 'First time here? Register', new_user_registration_path %>
      </div>
      <div class="large button">
        <%= link_to 'or Login', new_user_session_path %>
      </div>
      <div class="large button"> <%= link_to 'View active alerts', posts_path %></div>
    <% end  %>
  </div>
</div>
