<div class="login-box">
<h1>Add a pet</h1>
    <% if @animal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this post    from being saved:</h2>

          <ul>
          <% @animal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <%= simple_form_for @animal do |a| %>
    <div class="content">
      <%= a.input :name %>
      <%= a.input :name, label: 'Species:', collection: @species %>
    </div>
        <div class="footer">
          <button type="submit" name="commit" class="btn-1">login</button>
        </div>
    <% end %>

</div>
