<%= simple_form_for @post do |p| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>Please include email and/or phone</p>
    <%= p.input :location %>
    <%= p.input :phone %>
    <%= p.input :email %>
    <%= p.input :date %>


    <%= p.button :submit %>
<% end %>
