<%= simple_form_for @post do |p| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="content">
    <p>Please include your preferred method of contact: email and/or phone</p>
    <%#p.input :animal, label: "Pet's Name", collection: @pets %>
    <%= p.input :location,  input_html: { placeholder: "location" } %>
    <%= p.input :phone,     input_html: { placeholder: "contact phone" } %>
    <%= p.input :email,     input_html: { placeholder: "contact email" } %>
    <%= p.input :date, html5: true %>
  </div>

  <div class="footer">
    <%= link_to 'Back', posts_path %>
    <button type="submit" name="commit" class="btn-1">create</button>
  </div>
<% end %>
