<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Lost</th>
      <th>Location</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= post.animal.name%></td>
        <td><%= post.location %></td>
        <td><%= post.phone %></td>
        <td><%= post.email %></td>
        <td><%= link_to 'More details', post %></td>
        <% if post.user == current_user %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Remove listing', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Post', new_post_path %>
