<p id="notice" class="hide"><%= notice %></p>


    <div class="lost">
      LOST <%= @post.animal.breed.species.name.upcase %>
    </div>

    <li>
      <div class="image_cont">
        <%= image_tag @post.animal.image.url(:medium) %>
        <span><%= @post.animal.name %></span>
      </div>
      <div class="map_cont">
        <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD_aawq6K9k0JwFIRckJOMQ4Xr38TwYSVU
            &q=<%= @post.location %>" allowfullscreen>
          <!-- https://www.google.com/maps/embed/v1/place?key=AIzaSyD_aawq6K9k0JwFIRckJOMQ4Xr38TwYSVU
            &q=<%= @post.location %> -->
        </iframe>
        <span>Last seen near <%= @post.location %></span>
      </div>
    </li>


    <p>Our beloved <%= @post.animal.age %> year old <%= @post.animal.breed.name %> breed was lost on <%= @post.date.strftime('%m/%d/%Y') %>.</p>


    <p>If found please contact <b><%= @post.user.name %></b> at: </p>
    <% if @post.phone != nil %>
    <p>
      <strong>Phone:</strong>
      <%= @post.phone %>
    </p>
    <% end %>
    <% if @post.email != nil %>
    <p>
      <strong>Email:</strong>
      <%= @post.email %>
    </p>
    <% end %>
    <p>
      <strong>Additional information:</strong>
      <%= @post.animal.additional_notes %>
    </p>


    <p>
      <strong>Last seen in Zipcode:</strong>
      <%= @post.location %>
    </p>

    <p>

    </p>

    <div class="hide">
      <% if (user_signed_in?) %>
        <p> Simply <i>print</i> this page to create a flyer </p>
        <!-- <p> If you would like to automatically create a flyer for this pet, print this page </p> -->
        <!-- <p> you can do so by clicking here -->
      <% end %>

      <%= link_to "Additional Tips For Finding #{@post.animal.name}", "http://www.humanesociety.org/animals/resources/tips/what_to_do_lost_pets.html?referrer=https://www.google.com/" %> |
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    </div>

    <span class="print"> This flyer was created by Missing Fursons </span>
