<p id="notice"><%= notice %></p>

<h1>
  <strong>LOST <%= @post.animal.breed.species.name %> </strong>
</h1>


<%= image_tag @post.animal.image.url(:medium) %>

<p>
  <strong><%= @post.animal.name %></strong>
</p>

<p>Our beloved <%= @post.animal.age %> year old <%= @post.animal.breed.name %> breed was lost on <%= @post.date.strftime('%m/%d/%Y') %>.</p>


<p>If found please contact <b><%= @post.user.name %></b> at: </p>
<p>
  <strong>Phone:</strong>
  <%= @post.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>

<p>
  <strong>Additional information:</strong>
  <%= @post.animal.additional_notes %>
</p>


<p>
  <strong>Last seen in Zipcode:</strong>
  <%= @post.location %>
</p>

<% if (user_signed_in?) %>
  <p> If you would like to automatically create a flyer for this pet,</p>
  <p> you can do so by clicking here.
  <%= link_to 'Create Flyer', edit_post_path(@post) %><br><br></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
