<!DOCTYPE html>
<html>
<head>
  <title>Missingfursons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'Home', posts_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
      <% elsif %>
      <li><%= link_to 'Register', new_user_registration_path %></li>
      <li><%= link_to 'Login', new_user_session_path %></li>
      <% end  %>
    </ul>
  </nav>
<%= yield %>

</body>
</html>
