<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Attach the Table CSS and Javascript for responsive tables-->
    <link rel="stylesheet" href="responsive-tables.css">
    <script src="stylesheet" href="responsive-tables.js"></script>
    <%= render 'favicon' %>
    <title>MissingFursons</title>
  </head>
  <body>

    <a href="/">
    <header>
      <div class="top-layer">
        <%=image_tag("ico-wo.svg", alt: "Missing Fursons Banner", :class => "image-container")%>
        <h1>Missing Fursons</h1>
      </div>
      <div class="mid-layer"></div>
      <div class="bottom-layer">
      </div>
    </header>
    </a>

    <nav>
      <div class="left">
        <span><%= link_to 'Home', root_path %></span>
        <span><%= link_to 'Active Alerts', posts_path %></span>
        <span><%= link_to 'Found a Pet?', resource_found_path %></span>
      </div>
      <div class="right">
        <% if user_signed_in? %>
        <span><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></span>
        <% elsif %>
        <span><%= link_to 'Register', new_user_registration_path %></span>
        <span><%= link_to 'Login', new_user_session_path %></span>
        <% end %>
      </div>
    </nav>

    <main>
      <div class="content">
          <%= yield %>
      </div>
    </main>

  </body>
</html>
