<div class="signup-box">
  <h1>Sign up</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="content">
    <%= f.input :name, required: true, input_html: { placeholder: "name" } %>
    <%= f.input :email, required: true, autofocus: true, input_html: { placeholder: "email" } %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { placeholder: "password" } %>
    <%= f.input :password_confirmation, required: true, input_html: { placeholder: "confirm password" } %>
  </div>

  <div class="footer">
    <button type="submit" name="commit" class="btn-1">signup</button>
  </div>
  <% end %>

  <%# render "users/shared/links" %>


  <p>already have an account? <a href="<%= new_user_session_path %>">login</a></p>
</div>
